# Python
__pycache__/
*.py[cod]

# Virtual environments
venv/
.venv/
env/

# Environment variables
.env

# Uploaded images
uploads/*
!uploads/.gitkeep

# AI model files
model/*.keras
model/*.h5

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db